# OS files and such
venv/
env/
.env
DS_Store/
__pycache__/

# Data files
scarecrow_dataset

# YAML files 
data.yaml
extra_data.yaml
birdfarm.yaml

# Checkpoints and logs
runs/
labels.cache

# Sandboxes
utils
Assignment1.ipynb
LabNotebooks